
@media (min-width: 400px)
{
	body{
		background-color: yellow;
	}

	nav.nav-bar > div.logo{
	    background: white;
	}
}

@media (min-width: 500px)
{
	body{
		background-color: green;
	}

	aside.side-bar{
		display: none;
	}

}

@media (max-width: 500px)
{

	aside.side-bar{
		display: none;
	}

	nav.nav-bar{
		flex-direction: column;
	}

	nav.nav-bar > div.search{
		margin-left: 0;
	}

}

@media (min-width: 400px) and (max-width: 500px){

	h3#title{
		color: red;
	}

}